/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY TEMA */
.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TEMAS */
.theme-cliente {
  background: linear-gradient(135deg, #020e1f, #0ee64e);
  color: white;
}

.theme-pro {
  background: linear-gradient(135deg, #111827, #374151);
  color: white;
}

.theme-adm {
  background: linear-gradient(135deg, #0d0ad1, #09cf45);
  color: white;
}
/* TOPO */
.topo {
  text-align: center;
  padding: 40px 20px;
}

.topocliente,
.topoprofissional {
  font-size: 28px;
  margin-bottom: 10px;
}

.topoclientep {
  font-size: 16px;
  opacity: 0.9;
}

/* CONTAINER LOGIN */
.login-container {
  width: 100%;
  max-width: 420px;
  margin: auto;
  background: white;
  color: #111;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background: #f3f4f6;
  transition: 0.3s;
}

.tab.active {
  background: #0ee962;
  color: white;
}

/* FORM */
.form-content {
  display: flex;
  flex-direction: column;
}

.header-text h2 {
  margin-bottom: 5px;
}

.header-text p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* INPUTS */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 12px;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* BOTÃO */
.btn {
  width: 100%;
  padding: 12px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #109c46;
}

/* FOOTER */
.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #0c3bd6;
  text-decoration: none;
}